<h1> &#5809; <a href="/">{{site.title}}</a></h1>
<nav>
 <ul>
  <li><a id="tg-sb-link" href="#"><i id="tg-sb-icon" class="fa fa-toggle-on"></i> Nav</a></li>

  <li><a href="https://github.com/jeffcave" target="_blank">GitHub</a></li>
  <li><a href="https://gitlab.com/jefferey-cave" target="_blank">GitLab</a></li>

  {% include feedback.html %}

  <li><input type="search" id="sitesearch" placeholder="Search ..." /></li>
 </ul>
</nav>
<nav id='breadcrumb'><ol></ol></nav>
<nav class='childpages'><ul><li>&nbsp;</li></ul></nav>
<progress is='ps-progress' id='progress' value='1' min='0' max='1' title=''></progress>
