---
layout: default
---

<section>
 <button class='showhide'>&#9776;</button>

 <nav data-type='toc' data-src='main'>
  <h1>Table of Contents</h1>
 </nav>
 <!-- nav class='childpages'><ul></ul></nav -->
</section>

<main>
 {{content}}
</main>

<section>
 <button class='showhide'>&#9776;</button>
 {% include metadata.html %}
</section>
