<!DOCTYPE html>
<html>
 <head>
  {% include head.html %}
 </head>
<body>

<header>
 {% include header.html %}
</header>

 {{content}}


<footer>
 
{% include footer.html %}

</footer>

<script>

</script>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
