---
layout: default-sides
---

<article>
<header>
 <h1>{{ page.title }}</h1>
   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}
</header>


   {{content}}


<footer>
 {% include disqus.html %}
</footer>
</article>
