---
layout: default-sides
---
<article itemscope itemtype="http://schema.org/BlogPosting">

 <header>
  <h1 itemprop="name headline">{{ page.title }}</h1>
  <p class="post-meta">
   <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person">
   <span itemprop="name">/ {{ page.author }}</span></span>{% endif %}
   {% if page.tags != null %}/
   {% assign projectTags = site.data.tags.allowed-tags %}
   {% for tag in page.tags %}
   {% if projectTags contains tag %}
   <a href="{{ "tag_" | append: tag | append: ".html"}}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
   {% endif %}
   {% endfor %}
   {% endif %}
  </p>
  {% if page.summary %}
  <div class="summary">{{page.summary}}</div>
  {% endif %}
 </header>
 
 {{ content }}


<footer>
{% include disqus.html %}
</footer>
</article>
